:root {
  --text: #CED4DA;
  --text-light: #ADB5BD;
  --background-dark: #212529;
  --background-light: #495057;
  --background-foreground: #6C757D;
}

body {
  background-color: #495057;
}

* {
  margin: 0 0 0 0;
  color: var(--text);
}

*::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  height: 44px;
  background-color: var(--background-dark);
}

.navbar-logo {
  margin-top: 5px;
  margin-left: 10px;
}

.navbar-list {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.navbar-search {
  display: flex;
  padding: 0.4rem;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.navbar-search-bar {
  background-color: var(--background-foreground);
  color: var(--text);
  height: 100%;
  border-radius: 5px;
  border: transparent;
}

.navbar-search-bar::placeholder {
  color: var(--text-light);
}

.navbar-search-submit {
  height: 20px;
  background: transparent;
  border: transparent;
}

.navbar-search-submit svg {
  fill: var(--text);
}

.navbar-search-submit:hover {
  cursor: pointer;
}

