:root {
  --text: #CED4DA;
  --text-light: #ADB5BD;
  --background-dark: #212529;
  --background-light: #495057;
  --background-foreground: #6C757D;
}

body {
  background-color: #495057;
}

* {
  margin: 0 0 0 0;
  color: var(--text);
}

*::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  background-color: var(--background-dark);
}

.navbar-logo {
  margin-top: 5px;
  margin-left: 10px;
}

.navbar-list {
  gap: 1.2rem;
  list-style: none;
}

.navbar-search {
  display: flex;
  padding: 0.4rem;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.navbar-search-bar {
  background-color: var(--background-foreground);
  color: var(--text);
  height: 100%;
  border-radius: 5px;
  border: transparent;
}

.navbar-search-bar::placeholder {
  color: var(--text-light);
}

.navbar-search-submit {
  height: 20px;
  background: transparent;
  border: transparent;
}

.navbar-search-submit svg {
  fill: var(--text);
}

.navbar-search-submit:hover {
  cursor: pointer;
}

.items-list {
  margin-top: 1rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  background-color: var(--background-dark);
  text-align: center;
  width: 320px;
}

.burger-menu {
  display: none;
  position: absolute;
  width: 44px;
  height: 44px;
  right: 0px;
  background-color: var(--text);
}

.burger-menu-bar {
  width: 100%;
}

#list-show {
  display: flex;
}

.hypixel-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.hypixel-info {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 20px;

  background-color: var(--background-foreground);

  width: fit-content;
  padding: 10px;
  border-radius: 10px;

  box-shadow: 5px 5px  var(--text);

  max-width: 290px;
}

.hypixel-info-img {
  width: 200px;
  border-radius: 50%;
}

.hypixel-info-input {
  background-color: var(--background-dark);
  height: 30px;
  border: none;
  text-align: center;
  width: 300px;
}

.hypixel-items-list {
  background-color: var(--background-foreground);
  width: 75%;
  height: 10rem;
  border-radius: 10px;
  box-shadow: 5px 5px var(--text);

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.hypixel-items-list li {
  width: 10px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
  #list-show {
    position: absolute;
  }
}